{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Popis brodova</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Registracija</th>
            <th>Tip</th>
            <th>Duljina</th>
        </tr>
    </thead>
    <tbody>
        {% for brod in brodovi %}
        <tr>
            <td>{{ brod.id }}</td>
            <td>{{ brod.naziv }}</td>
            <td>{{ brod.registracija }}</td>
            <td>{{ brod.tip }}</td>
            <td>{{ brod.duljina }}m</td>
            <td>
                <a href="/brod/{{ brod.id }}" class="btn btn-primary btn-sm">Detalji</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}